*.lo
*.o
.deps/
.libs/
/*.dh-orig
/autom4te.cache/
/build-stamp
/config.h
/config.log
/config.status
/distribution/raidutils.spec
/lib/libraidutil.la
/libtool
/raideng/raideng
/raidutil/raidutil
/stamp-h1
Makefile
