*.lo
*.o
.deps/
.libs/
/INSTALL
/aclocal.m4
/ar-lib
/autom4te.cache/
/build-stamp
/compile
/config.guess
/config.h
/config.h.in
/config.log
/config.status
/config.sub
/configure
/depcomp
/distribution/raidutils.spec
/install-sh
/lib/libraidutil.la
/libtool
/ltmain.sh
/m4/
/missing
/raideng/raideng
/raidutil/raidutil
/stamp-h1
Makefile
Makefile.in
