Source: raidutils
Section: admin
Priority: optional
Maintainer: Barak A. Pearlmutter <bap@debian.org>
Build-Depends: debhelper (>= 5), autoconf (>= 2.58)
Standards-Version: 3.7.2

Package: raidutils
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Provides: dtp-i2o-raidutils
Description: Adaptec I2O hardware RAID management utilities
 suite of programs to manage some I2O-compliant RAID controllers; in
 particular some Adaptec hardware; to be very specific those using the
 dpt_i2o kernel module or CONFIG_SCSI_DPT_I2O driver.  One can
 create/delete a RAID array, add/remove a hot spare drive to/from an
 array, activate/silence the alarm, and query array/disk status.
