Source: raidutils
Section: admin
Priority: optional
Maintainer: Barak A. Pearlmutter <bap@debian.org>
Build-Depends: debhelper (>= 7), autoconf (>= 2.58), linux-kernel-headers, libc6-dev-i386 [amd64], g++-multilib [amd64]
Standards-Version: 3.8.0
Homepage: http://i2o.shadowconnect.com

Package: dpt-i2o-raidutils
Architecture: i386, amd64, arm, armeb, m32r, m68k, mips, mipsel, powerpc, sparc
Conflicts: raidutils (<< 0.0.6-6)
Depends: ${shlibs:Depends}, ${misc:Depends}
Provides: dtp-i2o-raidutils
Description: Adaptec I2O hardware RAID management utilities
 Suite of programs to manage some I2O-compliant RAID controllers; in
 particular some Adaptec hardware; to be very specific those using the
 dpt_i2o kernel module or CONFIG_SCSI_DPT_I2O driver, or (for more
 recent kernels) the i2o_block and i2o_config modules, or
 CONFIG_I2O_BLOCK and CONFIG_I2O_CONFIG drivers.  One can
 create/delete a RAID array, add/remove a hot spare drive to/from an
 array, activate/silence the alarm, and query array/disk status.

Package: raidutils
Architecture: i386, amd64, arm, armeb, m32r, m68k, mips, mipsel, powerpc, sparc
Depends: dpt-i2o-raidutils
Description: Transition Package for raidutils rename to dpt-i2o-raidutils
 The package previously named raidutils, used for manipulating some
 Adaptec I2O RAID hardware, has been renamed dpt-i2o-raidutils.  This
 package helps ease that transition.
