#!/usr/bin/make -f

export DEB_BUILD_MAINT_OPTIONS = hardening=+all

%:
	dh $@

override_dh_installchangelogs:
	dh_installchangelogs --package=raidutils -XChangeLog
	dh_installchangelogs --no-package=raidutils
