#!/usr/bin/make -f

build clean install binary-arch binary-indep binary:
	dh $@ --with autotools_dev

.PHONY: build clean install binary-arch binary-indep binary

WARNFLAGS = -Wall -Wno-write-strings -Wno-comments

override_dh_auto_configure:
	dh_auto_configure -- CFLAGS="$(WARNFLAGS)" CXXFLAGS="$(WARNFLAGS)"

override_dh_installchangelogs:
	dh_installchangelogs --package=raidutils -XChangeLog
	dh_installchangelogs --no-package=raidutils
